.carousel-container {
  display: flex;
  position: relative;
  // justify-content: center;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  user-select: all;
  transition: all 0.7s ease;
}

.carousel-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.carousel-items-container {
  display: flex;
  gap: 19px;
  transition: transform 0.7s ease;
  transform: translateX(0);
  position: relative;
}

.carousel-item-wrapper {
  flex: 0 0 auto;
}

.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.carousel-button {
  cursor: pointer;
  font-size: 24px;
  width: 45px;
}

.carousel-pagination-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-pagination {
  width: 25px;
  height: 4px;
  background-color: #525054;
  border-radius: 2px;
  margin-right: 5px;
}

.carousel-pagination.active {
  background-color: var(--color-primary-2);
}

.empty-item {
  width: 231px;
  height: 100%;
}

.carouselVisibleItem {
  display: flex;
  gap: 19px;
  width: 100%;
}

.arrowClick {
  transform: translateY(1px);
}

.arrowMargin {
  margin-bottom: 85px;
}

@media screen and (max-width: 1110px) {
  .carouselTitle {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .carousel-container {
    width: 100%;
  }
  .carousel-button {
    position: absolute;
    z-index: 1;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .carouselTitle {
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
