.cardContainer {
  min-width: 50px;
  min-height: 50px;

  .cardContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.card-filled {
  background: var(--card-background-color);
}

.card-outline {
  border: 1px solid #5f5c6b;
  border-radius: 5px;
  &:hover {
    background: rgba(128, 124, 131, 0.15);
  }
  &:active {
    background: rgba(128, 124, 131, 0.3);
  }
}

.card-dotted {
  border: 1.5px dashed #5f5c6b;
  border-radius: 5px;
}
