:root {
  --color-primary-7: #f5f0ff;
  --color-primary-6: #ede4ff;
  --color-primary-5: #ddcdff;
  --color-primary-4: #c6a6ff;
  --color-primary-3: #ac73ff;
  --color-primary-2: #963bff;
  --color-primary-1: #8e14ff;
  --color-primary: #8200ff;
  --color-primary1: #6e01d6;
  --color-primary2: #5b03af;
  --color-primary3: #370077;

  --color-success: #8fd845;
  --color-error: #e54f49;
  --color-pending: #ffe352;
  --color-info: #60b9cd;

  --color-black-10: #f7f7f8;
  --color-black-9: #efefef;
  --color-black-8: #dcdadd;
  --color-black-7: #bdbbbe;
  --color-black-6: #99959b;
  --color-black-5: #807c83;
  --color-black-4: #666168;
  --color-black-3: #525054;
  --color-black-2: #464448;
  --color-black-1: #3e3b3f;
  --color-black: #29272a;
  --color-black1: #19181a;

  --text-size-h1: 89px;
  --text-size-h2: 67px;
  --text-size-h3: 50px;
  --text-size-h4: 37px;
  --text-size-h5: 28px;
  --text-size-h6: 21px;
  --text-size-normal: 16px;
  --text-size-small: 12px;

  --text-weight-light: 400;
  --text-weight-normal: 500;
  --text-weight-bold: 700;

  --font-family: "Montserrat", sans-serif;
}
