.headerModule {
  background: var(--color-black1);
  min-height: 80px;
  width: 100%;
  transform: translateX(0);
  position: relative;
  z-index: 100;
  .headerContainer {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    min-width: 1000px;
    min-height: 80px;
    margin: 0 auto;
    align-items: center;
    .headerLogo {
      padding: 0 30px;
    }
    .headerItemsContainer {
      display: flex;
      width: 100%;
      gap: 25px;
      align-items: center;
      justify-content: space-between;
    }
    .headerButtonGroup {
      gap: 15px;
      margin: 0 15px;
    }
  }
}

.header-items-container {
  position: relative;
}

.headerItem {
  &:hover {
    font-weight: var(--font-weight-medium);
  }
  &:active {
    font-weight: var(--font-weight-medium);
    color: var(--color-black-5);
  }
}

.tag-container {
  display: flex;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 100px;
  background: var(--color-black);
  align-items: center;
  margin: 0 10px;
  p {
    font-size: var(--text-size-small);
  }
  .balance {
    color: var(--color-black-6);
    margin-right: 2px;
  }
}

.nationality-arrow {
  transform: rotate(90deg);
  margin-left: 8px;
}

.vertical-line {
  height: 35px;
  width: 1px;
  background-color: var(--color-black-1);
  margin: 0 15px;
}

@media screen and (max-width: 1110px) {
  .headerModule {
    .headerContainer {
      min-width: auto;
    }
  }
  .headerImage {
    margin: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .tag-container {
    margin: 0 3px;
    p {
      font-size: var(--text-size-extra-small);
    }
  }
}
@media screen and (max-width: 565px) {
  .headerImage {
    width: 30px;
  }
  .header-items-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  .headerButtonGroup {
    width: 100%;
    justify-content: flex-start;
    padding: 7px 10px;
  }
  .header-share {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 7px 10px 10px 0;
  }
  .header-icons {
    position: absolute;
    bottom: 12px;
    right: 5px;
  }
}
