.dorpdown-menu-container {
  position: absolute;
  border-radius: 5px;
  backdrop-filter: blur(25px);
  ::-webkit-scrollbar {
    width: 6px;
  }
}

.dropdown-item-content {
}

.dropdown-menu-content {
  width: 100%;
  padding: 10px;
  z-index: 1;
  min-width: 138px;
  border-radius: 5px;
  &:hover {
    background: var(--color-black-2);
  }
}

.dropdown-open {
  opacity: 1;
  transition: all ease 0.3s;
}

.dropdown-closed {
  opacity: 0;
  transition: all ease 0.3s;
  display: none;
}
