.h3-text-animation-outline {
  width: fit-content;
  color: #29272a;
  text-shadow: -0.7px -0.7px 0 #3e3b3f, 0.7px -0.7px 0 #3e3b3f,
    -0.7px 0.7px 0 #3e3b3f, 0.7px 0.7px 0 #3e3b3f;
  font-size: 50px;
  font-weight: 700;
}
.h3-text-animation {
  width: fit-content;
  color: var(--color-black-1);
  font-size: 50px;
  font-weight: 700;
}
