.fastGameModalBody {
  padding: 0 63px;
  margin-bottom: 30px;
  .fastGameModalTitle {
    margin-bottom: 30px;
    width: 100%;
  }
}
.addGameModalBody {
  padding: 0 63px;
  min-height: 600px;
}
.addGameContent {
  padding: 15px;
}

.rankTitle {
  margin-bottom: 12px;
}
