.modal-logo {
  margin-bottom: 50px;
  transform: scale(1.5);
}
.h5-modal {
  margin-bottom: 30px;
}
.modal-socialMedia {
  margin-bottom: 30px;
}

.forgotPassword {
  margin-bottom: 40px;
}

.password-requirements {
  list-style-type: disc;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
}

.registerTerms {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 15px;
}
