.modal-logo {
  margin-bottom: 50px;
  margin-top: 40px;
  height: 60px;
}
.h5-modal {
  margin-bottom: 30px;
}

.modal-separator {
  width: 540px;
  margin: 40px;
}
.modal-socialMedia {
  margin-bottom: 30px;
  width: 540px;
}

.forgotPassword {
  margin-bottom: 40px;
}

.password-requirements {
  list-style-type: disc;
  padding: 0 0 0 20px;
  margin-bottom: 30px;
}

.registerTerms {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 15px;
}

.loginRegisterForm {
  width: 540px;
}

.loginRegisterButton {
  padding: 20px !important;
  width: 100%;
  text-align: center;
  background: var(--color-black-2);
  border-radius: 5px;

  &:hover {
    background: var(--color-black-3);
  }

  &:active {
    background: var(--color-black-4);
  }
}

@media screen and (max-width: 840px) {
  .loginRegisterForm,
  .modal-socialMedia,
  .modal-separator {
    width: 90% !important;
  }
}
