.headerModule {
  background: rgb(25, 24, 26, 0.8);
  min-height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  transform: translateX(0);
  .headerContainer {
    margin: 0 165px;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    min-width: 1000px;
    min-height: 80px;
    margin: 0 auto;
    align-items: center;
    .headerLogo {
      padding: 0 30px;
    }
    .headerItemsContainer {
      display: flex;
      width: 100%;
      gap: 25px;
      align-items: center;
      justify-content: space-between;
    }
    .headerButtonGroup {
      gap: 15px;
      margin: 0 35px;
    }
  }
}

.headerItem {
  &:hover {
    font-weight: var(--font-weight-medium);
  }
  &:active {
    font-weight: var(--font-weight-medium);
    color: var(--color-black-5);
  }
}
.header-opacity {
  background: rgb(25, 24, 26);
  transition: all ease 0.2s;
}

@media screen and (max-width: 1110px) {
  .closeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 101;
    .hamburg {
      background-color: var(--color-primary-3);
    }
  }
  .headerMobileOff {
    transform: translateX(-100%);
    transition: all ease 0.2s;
  }
  .headerMobileOn {
    transition: all ease 0.2s;
  }
  .headerModule {
    width: auto;
    height: 100vh;
    opacity: 95%;
    .headerContainer {
      padding: 40px 0;
      min-width: 0px;
      flex-direction: column;
      height: 100%;
      .headerItemsContainer {
        flex-direction: column;
        gap: 30px;
        width: auto;
        align-items: normal;
        .headerLogo {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
        }
        .headerItem {
          padding: 10px 10px;
          border-radius: 10px;
          font-size: var(--text-size-normal);
          margin: 0 10px;
          &:hover {
            background: var(--color-black-5);
            font-weight: var(--text-weight-regular);
          }
          &:active {
            background: var(--color-black-6);
            font-weight: var(--text-weight-regular);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
}
