.accordion-header {
  background-color: var(--color-black-1);
  cursor: pointer;
  border-bottom: 1px solid var(--color-black-3);
  border-radius: 10px 10px 0 0;
  transition: border-radius ease 0.5s;
  padding: 30px 25px;
}

.accordion-content {
  background-color: var(--color-black-1);
  border-radius: 0 0 10px 10px;
  word-break: break-word;
}

.open {
  max-height: 500px;
  opacity: 1;
  transition: height ease 0.3s, opacity ease 0.5s, transform ease 0.3s;
}

.closed {
  max-height: 0px !important;
  opacity: 0;
  transition: height ease 0.3s, opacity ease 0.5s, transform ease 0.3s;
}

.accordion-content p {
  margin: 0;
  padding: 10px 0;
}

.accordion-icon {
  &:hover {
    fill: #fff;
  }
}
