.accordion-header {
  background-color: var(--color-black-1);
  cursor: pointer;
  border-bottom: 1px solid var(--color-black-3);
  border-radius: 10px 10px 0 0;
  transition: border-radius ease 0.5s;
  padding: 30px 25px;
}

.accordion-content {
  background-color: var(--color-black-1);
  border-radius: 0 0 10px 10px;
  word-break: break-word;
}

.open {
  max-height: 500px;
  transform: translateY(0px);
  opacity: 1;
  transition: all ease 0.2s;
}

.closed {
  max-height: 0 !important;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.2s;
}

.accordion-content p {
  margin: 0;
  padding: 10px 0;
}

.accordion-icon {
  &:hover {
    fill: #fff;
  }
}
