.buttonContainer {
  background-color: var(--button-backgroundColor-primary);
  border: none;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transform: skew(-20deg);
  white-space: nowrap;
  position: relative;
  z-index: 1;
  &:hover {
    background-color: var(--button-backgroundColor-primary-hover);
  }
  &:active {
    background-color: var(--button-backgroundColor-primary-active);
  }
}
.buttonContainerEffect {
  border: 1px solid #ffffff;
  position: relative;
  z-index: -1;
  height: 46px;
}
.buttonContainerEffecthover {
  background-color: var(--buton--backgroundColor-effect-hover);
}
.buttonContainerEffectActive {
  background-color: var(--buton--backgroundColor-effect-active);
}
.buttonContentEffect {
  color: var(---button-backgroundColor-outline);
}
.buttonContent {
  color: #fff;
  transform: skew(20deg);
  &.-large {
    font-size: 16px;
  }
}

.buttonContainerEffectWrapper {
  transform: translate(5px, -38px);
}

.outline {
  background: var(---button-backgroundColor-outline);
  border: 1px solid #ffffff;
  &:hover {
    background: var(---button-backgroundColor-outline-hover);
  }
  &:active {
    background: var(---button-backgroundColor-outline-active);
  }
}
