.buttonContainer {
  background-color: var(--button-backgroundColor-primary);
  border: none;
  text-align: center;
  cursor: pointer;
  transform: skew(-20deg);
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.buttonContainerHover {
  background-color: var(--button-backgroundColor-primary-hover);
}

.buttonContainerActive {
  background-color: var(--button-backgroundColor-primary-active);
}

.buttonContainerEffect {
  border: 1px solid #ffffff;
  position: relative;
  z-index: 0;
  height: 46px;
  text-align: center;
  cursor: pointer;
  transform: skew(-20deg);
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.buttonContainerEffecthover {
  background-color: var(--buton--backgroundColor-effect-hover);
}

.buttonContainerEffectActive {
  background-color: var(--buton--backgroundColor-effect-active);
}

.buttonContentEffect {
  color: var(---button-backgroundColor-outline);
  font-size: 16px;
}

.buttonContent {
  color: #fff;
  transform: skew(20deg);
  &.large {
    font-size: 16px;
    transform: skew(33deg);
  }
  &.small {
    font-size: var(--text-size-extra-small);
    transform: skew(20deg);
  }
}

.buttonContainerEffectWrapper {
  transform: translate(5px, -40px);
  width: 100%;
}

//outline
.button-outline {
  background: var(---button-backgroundColor-outline);
  border: 1px solid #ffffff;
  &:hover {
    background: var(---button-backgroundColor-outline-hover);
  }
  &:active {
    background: var(---button-backgroundColor-outline-active);
  }
}

//primary
.button-primary {
  transform: skew(0) !important;
  border-radius: 5px;
  background: var(--button-backgroundColor-primary);
  div {
    transform: skew(0) !important;
  }
  &:hover {
    background: var(--button-backgroundColor-primary-hover);
  }
  &:active {
    background: var(--button-backgroundColor-primary-active);
  }
  &:disabled {
    background: var(--color-black-2);
    cursor: not-allowed;
    div {
      color: var(--color-black-5);
    }
  }
}

//secondary
.button-secondary {
  background: transparent;
  font-weight: 400;
  &:hover {
    background: transparent;
    font-weight: 500;
  }
  &:active {
    background: transparent;
    font-weight: 400;
    color: var(--color-black-5);
  }
}
